mixin list(items, className, active)
    ul(class=className)
        each item, index in items
            li(class=className + '__item')
                if index == active
                    span(class=className + '__active')=item 
                else 
                    a(class=className + '__link')=item 


+list(['first', 'second'], 'list', 0)